.bg-img_wrap {
  min-height: 907px;
  background: #000000 url(/img/main-section/main-bg.jpg) center no-repeat;
}

header {
  padding-top: 60px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logotitle {
  margin-right: 60px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.header-logo {
  padding-top: 8px;
}

.header-phone {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.header-btn {
  width: 184px;
  height: 49px;
  background-color: transparent;
  border: 2px solid #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navi {
  margin-top: 25px;
}

.navi-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -50px;
}

.navi-list__item {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-right: 40px;
  position: relative;
}

.navi-list__item:hover::after {
  content: '';
  position: absolute;
  width: 38px;
  height: 2px;
  background-color: #0b5e8f;
  left: 0;
  bottom: 0;
}

.navi-search:hover::after {
  background-color: transparent;
  padding: 0;
}

.main {
  margin-top: 150px;
}

.main-block__title {
  width: 544px;
  font-size: 61px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 1.22px;
  margin-bottom: 41px;
}

.main-block__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.32px;
  margin-bottom: 37px;
}

.main-block__button {
  width: 184px;
  height: 49px;
  border-radius: 24px;
  background-color: #ffffff;
  background-image: linear-gradient(-18deg, #0b5e8f 0%, #2e76a0 50%, #0b5e8f 100%);
}

body {
  font-family: 'Roboto';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  outline: none;
}

button {
  border-radius: 50px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
}

ul {
  padding: 0;
}

li {
  list-style: none;
  cursor: pointer;
}

.navi-search {
  position: relative;
  display: inline-block;
  top: -4px;
}

.navi-search input {
  outline: none;
  cursor: pointer;
  padding-right: 28px;
  height: 28px;
  width: 0;
  border: none;
  border-radius: 50px;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #0b5e8f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(11, 94, 143, 0.41)), color-stop(50%, rgba(109, 161, 192, 0.41)), to(rgba(11, 94, 143, 0.41)));
  background-image: linear-gradient(to top, rgba(11, 94, 143, 0.41) 0%, rgba(109, 161, 192, 0.41) 50%, rgba(11, 94, 143, 0.41) 100%);
}

.navi-search input:focus {
  width: 150px;
  padding-left: 15px;
  color: #ffffff;
}

.navi-search::before {
  content: '';
  position: absolute;
  background: transparent url(../img/main-section/search-ico.png) center no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  cursor: pointer;
  top: 5px;
  right: 7px;
}
/*# sourceMappingURL=resets.css.map */