.bg-img_wrap
 min-height: 907px
 background: #000000 url(/img/main-section/main-bg.jpg) center no-repeat

header 
 padding-top: 30px 
 
.header
 &-wrap
  // border: 1px solid red 
  display: flex 
  align-items: center
  justify-content: space-around
 &-logotitle
  font-size: 14px
  line-height: 24px
  font-weight: 400
 &-logo
  padding-top: 8px
 &-phone 
  font-size: 16px
  font-weight: 700
  line-height: 24px
 &-btn
  width: 184px
  height: 49px
  background-color: transparent
  border: 2px solid #ffffff
  font-size: 15px
  font-weight: 700
  line-height: 24px
 
