@import 'main-section'
 

 
body
 font-family: 'Roboto', sans-serif
 box-sizing: border-box
 margin: 0
 padding: 0
 color: #ffffff
a
 text-decoration: none
 color: #ffffff
 outline: none
button
 border-radius: 50px
 color: #ffffff
 outline: none 
 cursor: pointer

ul 
 padding: 0

li 
 list-style: none
 cursor: pointer

.navi-search 
 position: relative
 input 
  outline: none
  cursor: pointer
  padding-right: 28px
  height: 28px
  width: 0
  border: none
  border-radius: 50%
  background-color: #0b5e8f
  background-image: linear-gradient(to top, rgba(11, 94, 143, 0.41) 0%, rgba(109, 161, 192, 0.41) 50%, rgba(11, 94, 143, 0.41) 100%)
 img
  position: absolute
  top: 8px
  left: 8px
  