@import 'main-section'
 

 
body
 font-family: 'Roboto', sans-serif
 box-sizing: border-box
 margin: 0
 padding: 0
 color: #ffffff
 background-color: #aeaeae
a
 text-decoration: none
 color: #ffffff
 outline: none
button
 border-radius: 50px
 color: #ffffff
 outline: none 
 cursor: pointer